{% extends 'base.html' %}
{% load static %}
{% block content %}
  {% if message %}
    <div id="alert-message" class="alert alert-warning" role="alert">
        {{ message }}
    </div>
  {% endif %}
  <script>
    window.onload = function(){
    
      let selectorCountry = document.querySelector("#country");
      selectorCountry.addEventListener('change',function(){

          let country = selectorCountry.value;
          if(country == "no_country"){
              removeChilds(document.getElementById('province'));
          }
          else{
              ajax_request_province(country);
          }
      });

      function ajax_request_province(country_id){
          var xhttp = new XMLHttpRequest();
          xhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
            console.log(this.responseText);
            res = JSON.parse(this.responseText)
            provinces = res.province;
            removeChilds(document.getElementById('province'));
            removeChilds(document.getElementById('city'));
            if (provinces.length > 0) { // Si la lista de provincias no está vacía
              add_option_province('0', 'Seleccione la provincia');
              add_option_city('0', 'Seleccione la ciudad');
              for (const province of provinces) {
                  add_option_province(province.id, province.name);
              }
            } else { // Si la lista de provincias está vacía
              add_option_province('0', 'Seleccione la provincia'); // Agrega la opción predeterminada
              add_option_city('0', 'Seleccione la ciudad'); // Agrega la opción predeterminada
            }
          }
        };
        xhttp.open("GET", `ajax_provinces/${country_id}`, true);
        xhttp.send();
      }
      
      function add_option_province(val,text){
        var sel = document.getElementById('province');
            
        // create new option element
        var opt = document.createElement('option');

        // create text node to add to option element (opt)
        opt.appendChild( document.createTextNode(text) );

        // set value property of opt
        opt.value = val; 

        // add opt to end of select box (sel)
        sel.appendChild(opt); 
      }


      let selectorProvince = document.querySelector("#province");
      selectorProvince.addEventListener('change',function(){

          let province = selectorProvince.value;
          if(province == "no_province"){
              removeChilds(document.getElementById('city'));
          }
          else{
              ajax_request_city(province);
          }
      });

      function ajax_request_city(province_id){
          var xhttp = new XMLHttpRequest();
          xhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
            res = JSON.parse(this.responseText)
            citys = res.city;
            removeChilds(document.getElementById('city'));
            if (citys.length > 0) { // Si la lista de provincias no está vacía
              add_option_city('0', 'Seleccione la ciudad');
              for (const city of citys) {
                  add_option_city(city.id, city.name);
              }
            } else { // Si la lista de provincias está vacía
              add_option_city('0', 'Seleccione la ciudad'); // Agrega la opción predeterminada
            }
          }
        };
        xhttp.open("GET", `ajax_citys/${province_id}`, true);
        xhttp.send();
      }

      function add_option_city(val,text){
        var sel = document.getElementById('city');
          
        // create new option element
        var opt = document.createElement('option');

        // create text node to add to option element (opt)
        opt.appendChild( document.createTextNode(text) );

        // set value property of opt
        opt.value = val; 

        // add opt to end of select box (sel)
        sel.appendChild(opt); 
      }

    }
    var removeChilds = function (node) {
        var last;
        while (last = node.lastChild) node.removeChild(last);
    };
  </script>
  <div class="container">
    <div class="row">
      <!--<div class="col-sm-9 col-md-7 col-lg-12 mx-auto">-->
        <div class="card border-2 shadow rounded-3 my-5">
          <div class="card-body p-4 p-sm-5">
            <form method="POST" enctype="multipart/form-data">
              <div class="form-row">
                {% csrf_token %}
                <div class="form-group col-md-8">
                  <label>Logo Compañia</label></br>
                  {% if logo %}
                    <img src="/media/{{logo}}" name="logo" id="logo" class="form-control" style="width:30%; height:auto;">
                  {% else %}
                      <p>No hay imagen cargada</p>
                  {% endif %}
                  <div>
                    <input type="file" name="logo" id="logo" class="form-control">
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label for="inputUsername">Username</label>
                  {{user_form.username}}
                </div>
                <div class="form-group col-md-6">
                    <label for="inputEmail">Correo Electronico</label>
                    {{user_form.email}}
                  </div>
                <div class="form-group col-md-6">
                  <label for="inputPassword">Contraseña</label>
                  {{user_form.password1}}
                </div>
                <div class="form-group col-md-6">
                  <label for="inputPassword2">Confirmar Contraseña</label>
                  {{user_form.password2}}
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputCompanyName">Razon Social</label>
                  {{company_form.company_name}}
                </div>
                <div class="form-group col-md-2">
                  <label for="inputType">Tipo</label>
                  {{company_form.identification_type}}
                </div>
                <div class="form-group col-md-4">
                  <label for="inputIdentication">identification</label>
                  {{company_form.identification}}
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputPname">Nombres</label>
                  {{company_form.name}}
                </div>
                <div class="form-group col-md-6">
                  <label for="inputPname">Apellidos</label>
                  {{company_form.last_name}}
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-4">
                  <label for="country_select">Pais</label>
                  <select name="country" id='country' class="form-control" >
                    <option value="no_country">Seleccione el Pais</option>
                    {% for country in country_list %}
                      <option value="{{country.pk}}" {% if country.pk == country_id %}selected{% endif %}>{{country.name}}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="form-group col-md-4">
                  <label for="province_select">Provincia</label>
                  <select name="province" id='province' class="form-control" >
                    <option value="0">Seleccione la Provincia</option>
                    {% for p in province %}
                      <option value="{{p.pk}}" {% if p.pk == p_id %}selected{% endif %}>{{p.name}}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="form-group col-md-4">
                  <label for="city_select">Ciudad</label>
                  <select name="city" id='city' class="form-control" >
                    <option value="no_city">Seleccione la Ciudad</option>
                    {% for c in city %}
                      <option value="{{c.id}}" {% if c.pk == c_id %}selected{% endif %}>{{c.name}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-8">
                  <label for="inputAddress">Direccion</label>
                  {{company_form.address}}
                </div>
                <div class="form-group col-md-4" >
                  <label for="inputAddress2">Telefono/Celular</label>
                  {{company_form.phone}}
                </div>
              </div>
              <button type="submit" class="btn btn-primary">MODIFICAR</button>
            </form>
            <!--<img src="/static/media/logos/logo2.png" style="width:30%; height:auto;">-->
          </div>
        </div>
      <!--</div>-->
    </div>
  </div>
  
{% endblock %}